::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(208, 209, 209, 0.7);
}

body {
    color: black;
}

ul.navbar-nav {
    width: 100%;
}

#partition {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#partition-1 {
    display: flex;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    transform: translateX(-35%);
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0;
}

.active-listings{
    display: grid;    
    width: 90%;
}

.tile {
    align-items: center;
    background-color: rgb(236, 234, 234);
    border-radius: 0.625em;    
    display: flex;
    flex-direction: column;
    height: 96%;
    margin: 2% 0;
    padding: 4%;
    width: 100%;
}

.tile:hover {
    background-color: rgba(127, 255, 212, 0.3);
}

.img-wrapper {
    background-color: white;
    border-radius: 0.3rem;
    display: flex;
    height: 60%;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.tile-img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.info-wrapper {
    margin-top: 2%;
    width: 100%;
}

.title-wrapper, .price-wrapper, .user-wrapper {
    align-items: center;    
    display: flex;
}

.text-link {
    color: black;
    text-decoration: none;
}

.text-link:hover {
    color: black;
}

.create-listing-form {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.create-listing-form > div {
    text-align: center;
    margin-bottom: 0.3em;
}

.form-group, #create-listing {
    margin: 0.4em 0;
}

#listing-title {
    margin: 0.5em 0;
    width: 100%;
}

.listing-image-div{
    display: flex;
    height: 50vh;
    justify-content: center;
}

.listing-image{
    object-fit: contain;
}

.watchlist {
    margin: 1.5em 0;
}

.info {
    border: 0.01em solid lightgrey;
    border-radius: 0.3em;
    padding: 0.3em;
}

ul.cats{
    list-style-type: circle;
}

.category-items{
    font-size: larger;
}

.log{
    padding: 0% 35%;
    text-align: center;
    margin-bottom: 20px;
}

.input-style{
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.input-style:hover{
    box-shadow: 0px 0px 20px grey;
}

.comment{
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: aliceblue;
}

@media screen and (min-width: 1000px) {
    .active-listings {
        grid-auto-rows: minmax(20%, 84%);
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tile {
        margin: 2%;
        width: 96%;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav {
        width: fit-content;
    }
    .dropdown-menu {
        transform: translateX(0%);
    }
    #partition {
        flex-direction: column;
    }
    #partition-1 {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px)and (max-width: 999px) {
    .active-listings {
        grid-auto-rows: minmax(10%, 20%);
        grid-template-columns: 1fr 1fr;
    }
    .tile {
        margin: 2%;
        width: 96%;
    }
}

@media screen and (max-width: 440px){
    div.form-group{
        width: 114px;
    }
}
