{% extends "auctions/layout.html" %}

{% block body %}
    <div class="active-listings">
        <h2>Active Listings</h2>
        {% for listing in listings %}
            {% if listing.status == "A" %}
                <div class="item" style="display: flex;">
                    <div class="image-div">
                        {% if listing.image_url %}
                            <a href="{% url 'listing' listing.id %}"><img class="item-image" src="{{ listing.image_url }}" alt="No image"></a>
                        {% else %}
                            <div class="no-image">No Image</div>
                        {% endif %}
                    </div>
                    <div class="details">
                        <div>
                            <a class="title" href="{% url 'listing' listing.id %}"><h5>{{ listing.title }}</h5></a>
                        </div>
                        <div>
                            <label class="listing-details">Description:&nbsp;</label>{{ listing.description }}
                        </div>
                        <div>
                            <label class="listing-details">Current Price: &#36;&nbsp;</label>{{ listing.current_price }}
                        </div>
                        <div>
                            <label class="listing-details">Posted by:&nbsp;</label>{{ listing.user.username }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>  
{% endblock %}
