{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    {{ details.title }}
{% endblock %}

{% block body %}
    <div id="listing-page" class="container my-5">
        <div id="listing-title">
            <h2>{{ details.title }}</h2>
        </div>
        <div class="listing-image-div my-5">
            {% if details.image_url %}
                <img class="listing-image" src="{{ details.image_url }}">
            {% else %}
                <img class="listing-image" src="{% static 'auctions/no-image.png' %}">
            {% endif %}
        </div>
        <div class="row mb-2">
            <div class="col-6 info-container">
                <label class="fw-bold">Starting Bid:</label>
                <div class="info mt-1">
                    <span class="fw-bold">&#36;</span>&nbsp;{{ details.starting_bid }}
                </div>
            </div>
            <div class="col-6 info-container">
                <label class="fw-bold">Current Price:</label>
                <div class="info mt-1">
                    <span class="fw-bold">&#36;</span>&nbsp;{{ details.current_price }}
                </div>
            </div>
        </div>
        <div class="my-4">
            {% if user.id == details.user.id %}
                {% if details.status == 'A' %}
                    <a class="text-info-emphasis" href="{% url 'close' details.id %}">Close bidding</a>
                {% else %}
                    <p><a class="text-info-emphasis" href="{% url 'profile' details.highest_bidder.username %}">{{ details.highest_bidder.username }}</a> has won this auction</p>
                {% endif %}
            {% else %}
                {% if details.status == 'A' %}
                    <div class="d-flex">
                        <form action="{% url 'bid' details.id %}" class="row row-cols-lg-auto g-3 align-items-center" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="fw-bold input-group-text">Place your bid:</div>
                                    <input class="form-control" id="bid-value" name="bid" min="{{ details.current_price }}" placeholder="Enter your Bid" step="0.01" type="number">
                                </div>
                            </div>
                            <div class="col-12">
                                <input class="btn btn-success" type="submit" value="Place Bid">
                            </div>
                        </form>
                        <div class="ms-3 watchlist">
                            {% if not flag %}
                                <form action="/watchlist/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing-id" value="{{ details.id }}">
                                    <input class="btn btn-success" type="submit" value="Add to Watchlist">
                                </form>
                            {% else %}
                                <form action="/watchlist" method="get">
                                    <input class="btn btn-success" type="submit" value="Go to Watchlist">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    {% if details.highest_bidder.id == user.id %}
                        <p>You have won this auction</p>
                    {% else %}
                        <p><a class="text-info-emphasis" href="{% url 'profile' details.highest_bidder.username %}">{{ details.highest_bidder.username }}</a> has won this auction</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="mb-4">
            <label class="fs-2 fw-bold">Description</label>
            <div class="border border-3 border-dark my-4"></div>
            <div class="fw-normal mb-3 text-break">
                {{ details.description }}
            </div>
            <ul class="list-unstyled">
                <li><label style="font-weight: bold;">Posted by:&nbsp;&nbsp;</label><a class="text-info-emphasis" href="{% url 'profile' details.user.username %}">{{ details.user.username }}</a></li>
                <li>{% if details.category %}
                        <label style="font-weight: bold;">Category:&nbsp;&nbsp;</label><a class="text-info-emphasis" href="{% url 'catlist' details.category %}">{{ details.category|lower|capfirst }}</a>
                    {% else %}                    
                        <label style="font-weight: bold;">No category mentioned</label>
                    {% endif %}
                </li>
            </ul>
            <div class="border border-3 border-dark my-4"></div>
        </div>        
        <div class="my-4">
            <label class="fs-2 fw-bold mb-4">Comments</label>
            <form action="{% url 'addcomment' details.id %}" class="row row-cols-lg-auto g-3 align-items-center" method="post">
                {% csrf_token %}
                <div class="col-12">
                    <input class="form-control" type="text" name="comment" placeholder="Type your comment">
                </div>
                <div class="col-12">
                    <input class="btn btn-primary" type="submit" value="Add comment">
                </div>
            </form>
        </div>
        <div class="mb-5">
            {% for comment in comments %}
                <div class="comment">
                    {% if comment.user.id == details.user.id %}
                        <label style="font-weight: bold;"><a class="text-info-emphasis" href="{% url 'profile' comment.user.username %}">{{ comment.user.username }}(Original Poster):</a></label>
                    {% else %}
                        <label style="font-weight: bold;"><a class="text-info-emphasis" href="{% url 'profile' comment.user.username %}">{{ comment.user.username }}:</a></label>
                    {% endif %}
                    <p>{{ comment.comment }}</p>
                </div>
            {% empty %}
                <label class="fw-bold">No comments yet</label>
            {% endfor %}
        </div>
    </div>
{% endblock %}
