{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h2>Watchlist</h2>
        <ol>
            {% for item in data %}
            <li>
                <div style="display: flex;">
                    <div>
                        <img src="{{ item.image_url }}" alt="No image">
                    </div>
                    <div>
                        <a href="{% url 'listing' item.id %}"><h4>{{ item.title }}</h4></a>
                    </div>
                    <div>
                        Current Price: {{ item.price }}
                    </div>
                    <div>
                        <a href="{% url 'watchlist_del' item.id %}">Delete</a>
                    </div>
                </div>
                <div style="border-bottom: 1px solid black;"></div>
            </li>
            {% empty %}
            <h1>No items in watchlist</h1>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
