{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="active-listings">
            <div style="margin-bottom: 20px;">
                <h2>Watchlist</h2>
            </div>
            {% for item in data %}
                <div class="item" style="display: flex;">
                    <div class="image-div">
                        {% if item.listing.image_url %}
                            <a href="{% url 'listing' item.listing.id %}"><img class="item-image" src="{{ item.listing.image_url }}" alt="No image"></a>
                        {% else %}
                            <div class="no-image"><img src="{% static 'auctions/no-image.png' %}"></div>
                        {% endif %}
                    </div>
                    <div style="width: 100%; display: flex; align-items: center; justify-content: space-between;">
                        <div class="details">
                            <div>
                                <a class="title" href="{% url 'listing' item.listing.id %}"><h5>{{ item.listing.title }}</h5></a>
                            </div>
                            <div>
                                <label class="listing-details">Description:&nbsp;</label>{{ item.listing.description }}
                            </div>
                            <div>
                                <label class="listing-details">Current Price: &#36;&nbsp;</label>{{ item.listing.current_price }}
                            </div>
                            <div>
                                <label class="listing-details">Posted by:&nbsp;</label>{{ item.user.username }}
                            </div>
                        </div>
                        <div>
                            <a href="{% url 'watchlist_del' item.listing.id %}">Delete</a>
                        </div>                    
                    </div>
                </div>
            {% empty %}
                <div style="text-align: center;">
                    <h3>No items in watchlist</h3>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
